body{
  background: #F5F8FA;
}

.headerBar{
  height: 60px;
  background: rgba(92, 184, 92, 1);
  margin-bottom: 20px;
}

#profilePicture {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../images/defaultProfilePicture.jpg");
    background-size: cover;
    background-position: center;
}

#follow, #edit{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: medium;
}

.profileLeft{
  border-radius: 2px;
  text-align: center;
  background: white;
}

.menuBar{
  list-style-type: none;
  text-decoration: underline;
}

.info{
  vertical-align: middle;
}

.dataWTD{
  height: 200px;
  background: white;
}

.WTD{
    margin-top: 20px;
}

.postImg{
  width: 50px;
  height: 50px;
}

.userSearchPicture{
  width: 100px;
  height: 100px;
}

.user{
  /*background: white;*/
}

.content2{
  background: white;
}

.logOut{
  border: 2px solid white;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 5px;
  float: right;
  margin: 10px 20px 0 0;
}

.logOut:hover{
  background: rgba(101, 57, 112, 1);
  cursor: pointer;
}
