<div class="row WTD" wtd-id={{wtd._id}}>
    <div class="dataWTD col-md-6 col-md-offset-3">
        <img class="postImg" src= {{user.profilePicture}}></img>
        <p>{{{wtd.city}}}!!!SHOULD BE HERE!!!</p>
        <input type="button" class="delete" value="Delete"></input>
    </div>
</div>
