<div class="recommendations row">
        <div class="postRecommendationImg col-md-offset-1" style="background-image:url({{recommendation.userProfilePicture}})"></div>
        <p class="recommendations-container col-md-10">{{recommendation.comment}}</p><br>
</div>
